<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="form-heading">회원 가입하기</h3>

      <form action="/users/signup_complete" method="post">
        <p><input class="form-input" type="text" name="username" placeholder="아이디"></p>
        <p><input class="form-input" type="password" name="password" placeholder="비밀번호"></p>
        <p><input class="form-input" type="password" name="retype_password" placeholder="비밀번호 확인"></p>
        <input class="btn btn-lg btn-block" type="submit" value="가입">
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
