<div class="container">
	<h1 class="yamyam-e-title"><a class="yamyam-e-title-link" href="/">YamYam-e 맛집 평가</a></h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/korean">한식</a></li>
      <li><a href="/japanese">일식</a></li>
      <li><a href="/chinese">중식</a><li>
      <li><a href="/western">양식</a></li>
      <li><a href="/foods/write">글쓰기</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id].nil? %>
      <li><a href="/users/signup">회원가입</a></li>
      <li><a href="/users/login">로그인</a></li>
      <% else %>
      <li><a href="/users/logout_complete">로그아웃</a></li>
      <% end %>
    </ul>
  </div>
</nav>
